<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
</configuration>

<!--<configuration>-->


<!--    <settings>-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--    </settings>-->

<!--    &lt;!&ndash;导入链接信息&ndash;&gt;-->
<!--    <properties resource="DataBase.properties"></properties>-->
<!--    &lt;!&ndash;环境配置，连接的数据库，这里使用的是SqlServer->-->

<!--<!-    <environments default="mssql">&ndash;&gt;-->
<!--&lt;!&ndash;        <environment id="mssql">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <transactionManager type="JDBC"></transactionManager>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <dataSource type="POOLED">&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="driver" value="${Class}"></property>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="url" value="${Url}"></property>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="username" value="${UserName}"></property>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="password" value="${Password}"></property>&ndash;&gt;-->
<!--&lt;!&ndash;            </dataSource>&ndash;&gt;-->
<!--&lt;!&ndash;        </environment>&ndash;&gt;-->
<!--&lt;!&ndash;    </environments>&ndash;&gt;-->


<!--</configuration>-->