<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.FileNodeMapper" >
  <resultMap id="BaseResultMap" type="Model.FileNode" >
    <id column="PathNode" property="pathnode" jdbcType="INTEGER" />
    <result column="FileID" property="fileid" jdbcType="INTEGER" />
    <result column="NodeID" property="nodeid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="Suffix" property="suffix" jdbcType="NVARCHAR" />
    <result column="UploadDate" property="uploaddate" jdbcType="TIMESTAMP" />
    <result column="ModifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PathNode, FileID, NodeID, Name, Suffix, UploadDate, ModifyDate
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from FileNode
    where PathNode = #{pathnode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FileNode
    where PathNode = #{pathnode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="pathnode" parameterType="Model.FileNode" >
    insert into FileNode (FileID, NodeID,
                          Name, Suffix, UploadDate,
                          ModifyDate)
    values (#{fileid,jdbcType=INTEGER}, #{nodeid,jdbcType=INTEGER},
            #{name,jdbcType=NVARCHAR}, #{suffix,jdbcType=NVARCHAR}, #{uploaddate,jdbcType=TIMESTAMP},
            #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pathnode" parameterType="Model.FileNode" >
    insert into FileNode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        FileID,
      </if>
      <if test="nodeid != null" >
        NodeID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="suffix != null" >
        Suffix,
      </if>
      <if test="uploaddate != null" >
        UploadDate,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="nodeid != null" >
        #{nodeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=NVARCHAR},
      </if>
      <if test="uploaddate != null" >
        #{uploaddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Model.FileNode" >
    update FileNode
    <set >
      <if test="fileid != null" >
        FileID = #{fileid,jdbcType=INTEGER},
      </if>
      <if test="nodeid != null" >
        NodeID = #{nodeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="suffix != null" >
        Suffix = #{suffix,jdbcType=NVARCHAR},
      </if>
      <if test="uploaddate != null" >
        UploadDate = #{uploaddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PathNode = #{pathnode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Model.FileNode" >
    update FileNode
    set FileID = #{fileid,jdbcType=INTEGER},
        NodeID = #{nodeid,jdbcType=INTEGER},
        Name = #{name,jdbcType=NVARCHAR},
        Suffix = #{suffix,jdbcType=NVARCHAR},
        UploadDate = #{uploaddate,jdbcType=TIMESTAMP},
        ModifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where PathNode = #{pathnode,jdbcType=INTEGER}
  </update>
</mapper>