body {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.2);
    position:fixed;
}

.header .left{
    display: inline-block;
    width:60%;
    height: 100%;
    
}

.header .right{
    display: inline-block;
    width:36%;
    line-height: 60px;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
}

/*登录样式*/
.login {
    border-radius:15px;
    margin-top: 30px;
    width: 50%;
    display: inline-block;
    position: absolute;
    left:50%;
    margin-left: -30%;
    padding:30px;
    background-color: #409EFF;
}
.login .closebtn {
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: 20px;
    color: white;

}
.login .title {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
    color: white;
}

.login .left {
    color: white;
    font-size: 18px;
    width: 30%;
    display: inline-block;

}
.login .right{
    width:68%;
    display: inline-block;
}

.login .button{
    margin-top:20px;
    margin-bottom: 30px;
    text-align: center;
}

/*注册样式*/

.register {
    border-radius:15px;
    margin-top: 30px;
    width: 50%;
    display: inline-block;
    position: absolute;
    left:50%;
    margin-left: -30%;
    padding:30px;
    background-color: #909399;
}
.register .closebtn {
    position: absolute;
    right: 0;
    margin-right: 3%;
    font-size: 20px;
    color: white;

}
.register .title {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 28px;
    text-align: center;
    color: white;
}

.register .left {
    color: white;
    font-size: 18px;
    width: 30%;
    display: inline-block;

}
.register .right{
    width:68%;
    display: inline-block;
}

.register .button{
    margin-top:20px;
    margin-bottom: 30px;
    text-align: center;
}

/*主样式*/

video {
    position: fixed;
    top: 60px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;

}

.main{
    width: 100%;
}

.main .contain {
    width: 100%;
    height: 100%;
    color:white;
}

.main .contain .title {
    text-align: center;
    margin-top:150px;
    font-size: 58px;
}
.main .contain .brief {
    text-align: center;
    margin-top:150px;
    font-size:38px;
}

.main .contain .brief div{
    margin-bottom: 80px;
}



